body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.alinhamento{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

.formulario{
    margin: 10px;
}